header{
    text-align: center;
}
.logo{
    background-color:#E5E5E5;
}

h1{
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color:#005677;
    letter-spacing: 5px;
    font-size: 35px;
}

h2{
    background-color: #C4C4C4;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    color:#005677;
    letter-spacing: 5px;
    font-size: 20px;
}

ul{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #000000;
}

span{
    font-weight: bold;
}

span.datos{
    font-style: italic;
}

footer{
    background-color: #005677;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
